<p-toast position="top-center" key="notifRegister"></p-toast>

<div class="surface-ground flex min-h-screen form-02-main">
  <div class="main-wrap pt-5">

    <div class="box-container">

      <div class="img-box">
        <div class="text-700 text-3xl font-medium ml-3 mt-3 align-items-center">
        </div>
      </div>
      <div class="form-wrap">
        <div class="top-signup">
          <span class="line-height-3">Don't you have an account?</span>
          <button class="signup-btn p-button p-button-outlined p-button-rounded font-bold text-blue-700 cursor-pointer"
            [routerLink]="['/register']">SIGN UP
          </button>
        </div>
        <div class="mid-container">
          <div class="mb-5 mt-5">
            <div class="text-700 text-2xl font-bold mt-3 mb-1">Job Seeker,</div>
            <span class="text-500 font-medium line-height-3">Find vacancies according to your salary.</span>
          </div>
          <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
            <div class="grid flex-wrap pr-3">
              <!-- email -->
              <div class="col-12 mb-2">
                <label for="email" class="block font-semibold text-black-alpha-70">Email</label>
                <input formControlName="email" type="text" pinputtext="" id="email" placeholder="Email"
                  class="p-inputtext p-component p-element p-inputtext-sm w-full">
              </div>

              <!-- password -->
              <div class="col-12 mb-2"><label for="password"
                  class="block font-semibold text-black-alpha-70">Password</label>
                <input formControlName="password" type="password" pinputtext="" id="password" placeholder="Password"
                  class="p-inputtext p-component p-element p-inputtext-sm w-full">
              </div>

              <!-- btn -->

              <button pbutton label="Update Profile" type="submit"
                class="p-button-sm p-element p-ripple p-button p-button-rounded login-btn">
                <span class="p-button-label"> Login </span><span class="p-ink"></span>
              </button>

            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>>