<p-toast position="top-center" key="notifRegister"></p-toast>
<br>
<br>

<div class="block-content">
  <div class="ng-star-inserted">
    <div class="relative py-5 p-8 overflow-hidden bg-no-repeat bg-cover py-0"
         style="background-image: url(https://www.primefaces.org/primeblocks-ng/assets/images/blocks/hero/hero-3.jpg);">
      <div class="text-center my-5 relative">
        <div class="text-6xl font-bold mb-2 text-white">One step ahead</div>
        <div class="text-4xl text-blue-400 font-bold mb-5">Complete detailS information on profile pages.</div>

        <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
          <div class="grid px-8 flex text-center align-items-center justify-content-center flex-wrap ">
            <!-- email -->
            <div class="col-12 mb-2"><label for="email"
                                            class="block font-medium text-cyan-600 mb-2">Email</label>
              <input formControlName="email" type="text" pinputtext="" id="email"
                     class="p-inputtext p-component p-element">
            </div>

            <!-- password -->
            <div class="col-12 mb-2"><label for="password"
                                            class="block font-medium bg-transparent text-cyan-600 mb-2">Password</label>
              <input formControlName="password" type="text" pinputtext="" id="password"
                     class="p-inputtext p-component p-element">
            </div>

            <!-- btn -->
            <div class="col-12 md:col-3 py-5">
              <button pbutton="" pripple="" label="Update Profile" type="submit"
                      class=" w-full p-element p-ripple p-button p-component">
                <span class="p-button-label"> Login </span><span class="p-ink"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!---->
  <!---->
</div>
