<!--<p-toast key="jobDetail"></p-toast>-->
<!--<p-confirmPopup></p-confirmPopup>-->
<p-card styleClass="p-card-shadow pr-5 pl-5 mt-4">
  <div class="col pt-1 flex-column">
    <p-image src="assets/images/logo.png" alt="Image" width="150"></p-image>
  </div>
  <div class="job-position">{{jobDetail.jobPosition}}</div>
  <div class="font-medium text-600 text-sm">Minimal Pengalaman : 1 Tahun</div>
  <div class="font-medium text-600 text-sm mb-3">{{jobDetail.updatedAt | date: 'dd MMM yyyy HH:mm'}}</div>
  <p-button label="Apply" [disabled] = "jobDetail.isApplied" (click)="apply(jobDetail.jobPostingId)"></p-button>
</p-card>
<h4 class="mx-3">Deskripsi pekerjaan</h4>
<p-card styleClass="p-card-shadow pr-5 pl-5 mt-4">
  <div class="text-900 w-full md:w-10 md:flex-order-0 flex-order-1 line-height-3" [innerHtml]="jobDetail.JobDetail">
  </div>
</p-card>
