<p-toast position="top-center" key="notifRegister"></p-toast>

<div
  class="surface-ground flex min-h-screen form-02-main"
>
  <div class="main-wrap pt-5">

    <div class="box-container">


      <div class="img-box flex flex-wrap">
        <div class="text-700 text-3xl font-medium ml-3 mt-3 align-items-center">
          eRecruitment
        </div>
        <div class="relative bottom-0 w-full ml-5">
          <div class="absolute text-700 text-xs font-medium align-items-center bottom-0">
            Dengan memilih "<strong>Mendaftar</strong>", saya telah membaca dan menyetujui Persyaratan penggunaan
            <strong>eRecruitment</strong> dan Kebijakan privasi.
          </div>
        </div>


      </div>
      <div class="form-wrap">
        <div class="top-signup">
          <span class="line-height-3">Sudah menjadi anggota?</span>
          <button class="signup-btn p-button p-button-outlined p-button-rounded font-bold text-blue-700 cursor-pointer"
                  [routerLink]="['/login']">Masuk sekarang
          </button>
        </div>
        <div class="mid-container">
          <div class="mb-3 mt-3">
            <div class="text-700 text-2xl font-medium mt-3">Kandidat Daftar</div>
            <span class="text-600 font-medium text-sm line-height-3">Daftar GRATIS dan dapatkan pekerjaan dengan mudah kemudian lamar.</span>
          </div>
          <form [formGroup]="formRegister" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="grid flex-wrap pr-3">
              <div class="field col mb-1">
                <label for="name" class="block font-semibold text-black-alpha-70">Name</label>
                <input formControlName="name" type="text" pinputtext id="name" placeholder="Name"
                       class="w-full p-inputtext p-inputtext-sm">
              </div>
              <div class="field col mb-1">
                <label for="phoneNumber" class="block font-semibold text-black-alpha-70">Phone</label>
                <input formControlName="phoneNumber" type="text" pinputtext id="phoneNumber" placeholder="Phone"
                       class="w-full p-inputtext p-inputtext-sm">
              </div>
              <!-- email -->
              <div class="col-12 mb-1">
                <label for="email" class="block font-semibold text-black-alpha-70">Email</label>
                <input formControlName="email" type="text" pinputtext id="email" placeholder="Email"
                       class="w-full p-inputtext p-inputtext-sm">
              </div>

              <!-- password -->
              <div class="col-12 mb-2">
                <label for="password" class="block font-semibold text-black-alpha-70">Password</label>
                <input formControlName="password" id="password" type="password" pinputtext placeholder="Password"
                       class="w-full p-inputtext p-inputtext-sm">
              </div>

              <!-- btn -->

              <button pbutton pripple="" label="Update Profile" type="submit"
                      class="w-full login-btn p-element p-ripple p-button p-button-sm p-component ml-2 mr-2">
                <span class="p-button-label"> Mendaftar </span><span class="p-ink"></span>
              </button>

            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>
