<div class="col xl:col-12 md:col-12 ">
    <div class="bg-cyan-50 border-round flex flex-column justify-content-center text-center h-full p-8">
        <p class="text-cyan-600 mb-3 font-bold">Registration</p>
        <div class="text-cyan-900 text-3xl font-medium">First Step on your jorney</div>
        <p class="text-cyan-800 text-xl m-2 mb-5">Please complete detail information on profile pages later.</p>

        <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
            <div class="grid">
                <!-- name -->
                <div class="col mb-4"><label for="name" class="block font-medium text-cyan-600 mb-2">Name</label>
                    <input formControlName="name" name="name" type="text" pinputtext=""
                        class="w-full p-inputtext p-component p-element">
                </div>

                <!-- email -->
                <div class="col  mb-4"><label for="email" class="block font-medium text-cyan-600 mb-2">Email</label>
                    <input formControlName="email" type="text" pinputtext=""
                        class="w-full p-inputtext p-component p-element">
                </div>

                <!-- phone -->
                <div class="col mb-4"><label for="phoneNumber" class="block font-medium text-cyan-600 mb-2">Phone</label>
                    <input formControlName="phoneNumber" type="text" pinputtext=""
                        class="w-full p-inputtext p-component p-element">
                </div>
            </div>


            <!-- password -->
            <div class="grid">
                <div class="col mb-4"><label for="password"
                        class="block font-medium text-cyan-600 mb-2">Password</label>
                    <input formControlName="password" type="text" pinputtext=""
                        class="w-full p-inputtext p-component p-element">
                </div>

                <div class="col mb-4"><label for="password2"
                        class="block font-medium text-cyan-600 mb-2">Password</label>
                    <input formControlName="password2" type="text" pinputtext=""
                        class="w-full p-inputtext p-component p-element">
                </div>
            </div>

            <!-- btn -->
            <div class="col lg:col-12 pt-5 p-0">
                <button pbutton="" pripple="" label="Update Profile" type="submit"
                    class="w-full p-element p-ripple p-button p-component">
                    <span class="p-button-label"> Register </span><span class="p-ink"></span>
                </button>
            </div>
        </form>
    </div>

</div>

<!-- <p-steps [model]="items"></p-steps> -->

<div class="card">
    <!-- <p-toast></p-toast> -->
    <!-- <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps> -->
</div>
<!-- <router-outlet></router-outlet> -->