<div class="mb-5"> <h2>Edit Education</h2></div>
    

<!-- intitution -->
<div class="mb-4"><label for="name" class="block font-medium text-900 mb-2">Institution</label>
    <input placeholder="Institution" id="name" type="text" pinputtext="" class="p-inputtext p-component p-element">
</div>

<!-- major  -->
<div class="mb-4"><label for="major" class="block font-medium text-900 mb-2">Major</label>
    <input placeholder="eg: Information Technology" id="major" type="text" pinputtext="" class="p-inputtext p-component p-element">
</div>

<!-- degree  -->
<div class="mb-4"><label for="degrees" class="block font-medium text-900 mb-2">Degree</label>
    <p-dropdown [options]="degrees" [(ngModel)]="selectedDegree" placeholder="degrees" optionLabel="name"
        [showClear]="true"></p-dropdown>
</div>

<!-- period  -->
<div class="mb-4">
    <label for="dateStart" class="block font-medium text-900 mb-2">Period date</label>
    <div class="grid m-0">
        <p-calendar placeholder="start date" class="mr-4 w-3" [(ngModel)]="dateStart" [showIcon]="true" inputId="icon"></p-calendar>
        <p-calendar placeholder="end date" class="w-3" [(ngModel)]="dateEnd" [showIcon]="true" inputId="icon"></p-calendar>
    </div>
</div>

<!-- description -->
<div class="mb-4"><label for="description" class="block font-medium text-900 mb-2">Description</label>
    <textarea id="description" type="text" pinputtextarea="" rows="5"
        class="p-inputtextarea p-inputtext p-component p-element p-inputtextarea-resizable"
        style="height: 143px; overflow: hidden;">
    </textarea>
</div>


<!-- btn update -->
<div class="py-4">
    <button pbutton="" pripple="" label="Update Profile" (click)="onSubmit()"
        class="p-element p-ripple w-auto p-button p-component">
        <span class="p-button-label"> Submit</span><span class="p-ink"></span>
    </button>
</div>
