<!-- start footer Area -->
<!-- <div class="bg-gray-900 pt-5 md:px-6 lg:px-8 layout-footer w-full"> -->
<div class="bg-gray-900 px-4 py-5 pt-5 md:px-6 lg:px-8">
  <div class="bg-gray-900">
    <div class="grid">
      <div class="col-12 md:col-3 flex flex-wrap justify-content-start md:mb-0 mb-3">
        <!-- <img src="" alt="" class="mr-3" width="50" height="50"> -->
        <div class="text-gray-300 font-bold text-5xl">Karir</div>
      </div>
      <div class="col-6 md:col-3 lg:col-4">
        <div class="text-white text-lg  mb-4 flex flex-wrap" style="max-width: 290px;">Jalan Sudirman 5, 1927 kode Pos
          <br>
          Jakarta, Indonesia
        </div>
        <div class="text-white mb-3"><i class="pi pi-phone surface-800 border-round p-1 mr-2"></i>(+62) 99 999 9999
        </div>
        <div class="text-white mb-3"><i class="pi pi-inbox surface-800 border-round p-1 mr-2"></i>karir@gmail.com</div>
      </div>
      <div class="col-3 md:col-3 lg:col-2 text-gray-200">
        <div class="text-white font-bold line-height-3 mb-3">Company</div><a
          class="line-height-3 block cursor-pointer ">About Us</a><a
          class="line-height-3 block cursor-pointer ">News</a>
        <a class="line-height-3 block cursor-pointer ">Investor </a>
        <a class="line-height-3 block cursor-pointer ">Careers</a><a
          class="line-height-3 block cursor-pointer">Media</a>
      </div>
      <div class="col-3 md:col-3 lg:col-2 text-gray-200">
        <div class="text-white font-bold line-height-3 mb-3">Learn More</div>
        <a class="line-height-3 block cursor-pointer">Get Started</a>
        <a pRipple
          class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150"
          style="width:2rem; height: 2rem">
          <i class="pi pi-facebook"></i>
        </a>
        <a pRipple
          class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150"
          style="width:2rem; height: 2rem">
          <i class="pi pi-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- End footer Area -->