<footer class="w-full">

  <div class="footer-content">
    <h3>eRecruitment</h3>

    <p>eRecruitment adalah platform yang memberikan kemudahan dalam pencarian kerja dan beragam jenis lowongan di
      berbagai bidang. Kami telah dipercaya oleh jutaan profesional dalam perjalanan karier mereka. Kami juga telah
      membantu ribuan orang memulai dan mengembangkan karier mereka.</p>
    <div class="text-sm font-medium">Sponsored by :</div>
    <ul class="logo mt-2">
      <li><a href="https://sofcograha.co.id" title="Sofco - https://sofcograha.co.id" target="_blank"> <img
        src="assets/images/softcoLogo.jpg" width="100"/></a></li>
      <li><a href="https://www.alterra.id" title="Alterra - https://www.alterra.id" target="_blank"><img
        src="assets/images/logo.png" width="100" class="bg-white ml-3"/></a></li>

    </ul>

    <ul class="socials">
      <li><a href="https://github.com/alterra-sofco"><i class="pi pi-github"></i></a></li>
      <li><a href="#"><i class="pi pi-google"></i></a></li>
      <li><a href="#"><i class="pi pi-youtube"></i></a></li>
      <li><a href="#"><i class="pi pi-linkedin"></i></a></li>
    </ul>

  </div>

</footer>

