<!-- <div *ngFor="let data of jobList"> -->
<div>
    <app-card-job class="bm-5" ></app-card-job>
</div>
<div class="py-5 px-6">
    <!-- <div class="font-medium text-3xl text-900 mb-3">Company name</div>  -->
    <ul class="list-none p-0 m-0 flex flex-column md:flex-row">

        <li class="relative mr-0 md:mr-3 flex-auto">
            <div
                class="border-2 border-green-500 surface-card border-round p-3 flex flex-column md:flex-row align-items-center z-1">
                <i class="pi pi-check-circle text-green-500 text-2xl md:text-4xl mb-2 md:mb-0 mr-0 md:mr-3"></i>
                <div>
                    <div class="text-green-500 font-medium mb-1">{{result}}</div>
                    <span class="text-600 text-sm hidden md:block">details</span>
                </div>
            </div>
        </li>


        <!-- rejection -->
        <li *ngIf="result == 'UNSUITABLE'" class="relative mr-0 md:mr-3 flex-auto">
            <div
                class="border-2 border-red-500 surface-card border-round p-3 flex flex-column md:flex-row align-items-center z-1">
                <i class="pi pi-check-circle text-red-500 text-2xl md:text-4xl mb-2 md:mb-0 mr-0 md:mr-3"></i>
                <div>
                    <div class="text-red-500 font-medium mb-1">UNSUITABLE</div>
                    <span class="text-600 text-sm hidden md:block">details</span>
                </div>
            </div>
        </li>

    </ul>
</div>
<!-- </div> -->