.md\:px-6 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}


.layout-footer {
  bottom: 0;
  position: absolute;
  padding-top: 1rem;
  border-top: 1px solid var(--surface-border);
}

