<div class="grid pt-2 px-2">
    <div class="col-5 md:col-10 lg:col-11 shadow-2 surface-card mb-4 mr-2"><img src="https://picsum.photos/150/150"
            alt="Image" class="block w-full" style="height: 110px;image-resolution:inherit;">
        <div class="p-4"><span class="block font-medium text-blue-600 mb-2">News</span>
            <div class="text-xl text-900 font-bold mb-2 line-height-2 ">Hype or Helpful to the Jobs Market?
            </div>
            <div class="text-sm line-height-3 mb-3 text-700">So, make the decision to move forward,</div>
            <div class="flex">
                <p-avatar image="" shape="circle" class="p-element">
                    <div class="p-avatar p-component p-avatar-image p-avatar-circle"><img
                            src="https://picsum.photos/100/100" class="ng-star-inserted">
                    </div>
                </p-avatar>
                <div class="ml-2">
                    <div class="text-xs font-bold text-900 mb-1">Creator</div>
                    <div class="text-xs flex align-items-center text-700"><i
                            class="pi pi-calendar mr-1 text-xs"></i><span>Apr 5, 2021</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-5 md:col-10 lg:col-11 shadow-2 surface-card mb-4 mr-2"><img src="https://picsum.photos/100/100"
            alt="Image" class="block w-full" style="height: 110px;image-resolution:inherit;">
        <div class="p-4"><span class="block font-medium text-blue-600 mb-2">News</span>
            <div class="text-xl text-900 font-bold mb-2 line-height-2 ">How to become an Account Manager
            </div>
            <div class="text-sm line-height-3 mb-3 text-700">Data trends and insights,</div>
            <div class="flex">
                <p-avatar image="" shape="circle" class="p-element">
                    <div class="p-avatar p-component p-avatar-image p-avatar-circle"><img
                            src="https://picsum.photos/110/110" class="ng-star-inserted">
                    </div>
                </p-avatar>
                <div class="ml-2">
                    <div class="text-xs font-bold text-900 mb-1">Creator</div>
                    <div class="text-xs flex align-items-center text-700"><i
                            class="pi pi-calendar mr-1 text-xs"></i><span>Apr 19, 2021</span></div>
                </div>
            </div>
        </div>
    </div>