
<div style="height: 100px;" class="ng-star-inserted">
    <div class="surface-overlay py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static">
        <img src="assets/images/logo.png" alt="Image" height="50">

        <!-- <a pripple="" pstyleclass="@next" enterclass="hidden" leavetoclass="hidden"
            class="p-ripple p-element cursor-pointer block text-700"><i class="pi pi-bars text-4xl hidden"></i><span
                class="p-ink" style="height: 34px; width: 34px; top: 0px; left: 10px;"></span>  
        </a> -->
        <div pRipple
            class=" flex-grow-1 justify-content-between lg:flex lg:static w-full left-0 top-50 px-6 lg:px-5 z-5 shadow-2 lg:shadow-none">
            <ul
                class="list-none p-0 m-0 flex lg:align-items-center text-900 select-none flex-column lg:flex-row cursor-pointer">
                <li>
                    <button pbutton="" pripple="" label="Home" [routerLink]="['/']"
                        class="p-element p-ripple p-button-text font-bold p-button p-component">
                        <span class=" p-button-label text-gray-500 "><span class="pi pi-home"></span> Home</span><span
                            class="p-ink"></span>
                    </button>
                </li>
                <li>
                    <ng-template [ngIf]="!userName$" [ngIfElse]="notLoggin">
                        <div pRipple (click)="ngOnInit()" [routerLink]="['/login']">
                            <button pbutton="" pripple="" label="Login"
                                class="p-element p-ripple p-button-text font-bold p-button p-component">
                                <span class=" p-button-label"><span class="pi pi-check"></span> Login</span><span
                                    class="p-ink"></span>
                            </button>
                        </div>
                    </ng-template>
                    <ng-template #notLoggin>
                        <div pRipple (click)="logOut()">
                            <button pbutton="" pripple="" label="Login"
                                class="p-element p-ripple p-button-text font-bold p-button-danger   p-button p-component">
                                <span class=" p-button-icon p-button-danger text-red-500"><span
                                        class="pi pi-times text-red-500"></span> Logout</span><span
                                    class="p-ink"></span>
                            </button>
                        </div>
                    </ng-template>

                </li>
            </ul>
            <div
                class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border lg:py-0 mt-3 lg:mt-0">
                <button *ngIf="userName$" (click)="goingTo()" pbutton="" pripple="" label="Login"
                    class="p-element p-ripple p-button-text font-bold p-button p-component">
                    <div class="text-500 mr-2"><span class=""><span class="pi pi-bell text-500 mr-1"></span></span>Welcome, </div><span class="p-ink"></span>
                    <div class="p-button-label"> {{userName$}}</div><span class="p-ink"></span>
                    
                </button>
            </div>
        </div>
    </div>
</div>